<p id="logoblanco">
  <img src="/images/HORIZONTAL FONDO BLANCO FILTRO.jpg" width="900" height="220"/>
</p>
<ul class="share-buttons" ng-controler = "ContactCtrl as contact">
  <p>
    <li><a href="https://es-es.facebook.com/asociacionelduende/" title="Visitanos en Facebook" target="_blank" onclick="window.open('https://es-es.facebook.com/asociacionelduende/'"><img alt="Visitanos en Facebook" src="images/social_flat_rounded_rects_svg/Facebook.svg" />Visitanos en Facebook</a></li>
  </p>
  <p>
    <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.asociacionelduende.com&text=:%20http%3A%2F%2Fwww.asociacionelduende.com&via=Asoc_El_Duende" target="_blank" title="Visitanos en Twitter" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Visitanos en Twitter" src="images/social_flat_rounded_rects_svg/Twitter.svg" />Visitanos en twitter</a></li>
  </p>
  <p>
  <li><a href="mailto:elduendeasociacion@gmail.com?subject:Contacto" target="_blank" title="Contacta con nosotros"><img alt="Contacta con nosotros" src="images/social_flat_rounded_rects_svg/Email.svg" />Contáctanos en nuestro correo</a></li>
  </p>
</ul>
